@{
    ViewData["Title"] = "Cities";
}

@model IEnumerable<SolarApp.Models.City>

<div class="text-center">
    <h1 class="display-4">City page</h1>
</div>

<div class="form-container mt-2 mb-4 border p-3">
    <form asp-action="AddCity" method="post">
        <div class="form-group">
            <label for="Name">City Name</label>
            <input type="text" class="form-control" id="Name" name="Name" required />
            <label for="Country">Country</label>
            <input type="text" class="form-control" id="Country" name="Country" />
        </div>
        <button type="submit" class="btn btn-primary mt-4">Add City</button>
    </form>
</div>

<div class="table-container mt-4 border p-3">
    <h2>Cities List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var city in Model)
            {
            <tr>
                <td>@city.Name</td>
                <td>@city.Country</td>
                <td>@city.Latitude</td>
                <td>@city.Longitude</td>
            </tr>
            }
        </tbody>
    </table>
</div>